# flyctl launch added from .gitignore
node_modules
build

# flyctl launch added from project-frontend\.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
project-frontend\node_modules
project-frontend\.pnp
project-frontend\**\.pnp.js

# testing
project-frontend\coverage

# production
project-frontend\build

# misc
project-frontend\**\.DS_Store
project-frontend\**\.env.local
project-frontend\**\.env.development.local
project-frontend\**\.env.test.local
project-frontend\**\.env.production.local

project-frontend\**\npm-debug.log*
project-frontend\**\yarn-debug.log*
project-frontend\**\yarn-error.log*
fly.toml
